html{
    position: relative;
    min-height: 100%;
    margin: 0;
}

body{
    transition-duration: 0.5s;
    min-height: 100%;
}

.footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}